/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


$duration: 0.3s;
$color: #EF5A31;

*,::before,::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background: #d8e0e5;
    height: 100vh;
}



.card {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform : translateX(-50%) translateY(-50%);
        -ms-transform : translateX(-50%) translateY(-50%);
            transform : translateX(-50%) translateY(-50%);
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-box-shadow $duration;
    transition: -webkit-box-shadow $duration;
    -o-transition: box-shadow $duration;
    transition: box-shadow $duration;
    transition: box-shadow $duration, -webkit-box-shadow $duration;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.card:hover {
    -webkit-box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}

.card__date {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    background-color: $color;
    border-radius: 50%;

    &__day {
        font-size: 14px;
         display: block;
    }
    &__month {
        font-size: 10px;
        display: block;
        text-transform: uppercase;
    }
}
.card__thumb {
    height: 235px;
    overflow: hidden;
    background-color: #000;
    -webkit-transition: height $duration;
    -o-transition: height $duration;
    transition: height $duration;

    img {
        display: block;
        width:100%;
        height: 240px;
        opacity: 1;
        -webkit-transition: opacity $duration, -webkit-transform $duration;
        transition: opacity $duration, -webkit-transform $duration;
        -o-transition: opacity $duration, transform $duration;
        transition: opacity $duration, transform $duration;
        transition: opacity $duration, transform $duration, -webkit-transform $duration;
        -webkit-transform:  scale(1);
            -ms-transform:  scale(1);
                transform:  scale(1);
    }
    .card:hover & img {
        opacity: 0.6;
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }
    .card:hover & {
        height: 90px;
    }
}

.card__body {
    position: relative;
    padding: 40px 20px;
    height: 185px;
    -webkit-transition: height $duration;
    -o-transition: height $duration;
    transition: height $duration;

    .card:hover & {
        height: 185px + 145px;
    }
}

.card__category {
    position: absolute;
    left: 0;
    top: -25px;
    height: 25px;
    padding: 0 15px;
    background: $color;
    color:#fff;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;

    
}

.card__title {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    padding-bottom: 10px;

    .card:hover & {
        -webkit-animation:titleBlur $duration;
                animation:titleBlur $duration;
    }
}

.card__subtitle {
    color: $color;
    font-size: 19px;
    padding-bottom: 10px;

    .card:hover & {
        -webkit-animation: subTitle;
                animation: subTitle;
    }
}

.card__description {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 65px;
    color: #666C74;
    font-size: 14px;
    line-height: 27px;
    opacity: 0;
    -webkit-transition: opacity $duration - 0.1s, -webkit-transform $duration - 0.1s;
    transition: opacity $duration - 0.1s, -webkit-transform $duration - 0.1s;
    -o-transition: opacity $duration - 0.1s, transform $duration - 0.1s;
    transition: opacity $duration - 0.1s, transform $duration - 0.1s;
    transition: opacity $duration - 0.1s, transform $duration - 0.1s, -webkit-transform $duration - 0.1s;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transform: translateY(25px);
        -ms-transform: translateY(25px);
            transform: translateY(25px);

    .card:hover &  {
        opacity: 1;
        -webkit-transition-delay: 0.1s;
             -o-transition-delay: 0.1s;
                transition-delay: 0.1s;
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }
}

.card__footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 11px;
    color: #A3A9AB;
}

@-webkit-keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px rgba(0,0,0,0);
    }
}

@keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px rgba(0,0,0,0);
    }
}

@-webkit-keyframes subTitle {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba($color, 0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px rgba($color, 0);
    }
}

@keyframes subTitle {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba($color, 0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px rgba($color, 0);
    }
}